* p{
    margin: 0;
    padding: 0;
}
.nav{
    margin-bottom: 35px;
}

.company__phone__number{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.5%;
    margin-top: 30px;
}

.logo{
    width: 50px;
}

.company__name{
    font-size: 20px;
}

.sign-_in__button{
    color: #000;
    width: 100px;
    height: 47px;
    margin-right: 32px;
}

.button__korzinka {
    width: 140px;
    height: 47px;
}

.menu__text{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin: 67px 0 47px ;
}
ul{
    padding: 21px 0;
    font-size: 18px;
}

.nav-link{
    color: #737373;
}


.recipe__name{
    font-family: 'Gilroy' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.recipe__about{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #4A4A4A;
}



.order__number{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.sum{
    margin-top: 36px;
    margin-bottom: 60px;
}
.price{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 10px;
}
.price span{
    font-size: 12px;
}

.btn__group{
    width: 100px;
    height: 43px;
    border: 1px solid #F9B403;
    border-radius: 30px;
    align-items: center;
}

.button__order{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.menu___name{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-top: 111px;
    margin-bottom: 96px;
}


.container-fluid{
    background: #C9CACC;
    height: 770px;
}

.footer__logo{
    padding-top: 146px;%;
}

.company__name{
    font-weight: bolder;
}
ul li{
    list-style: none;
}

ul li a {
    color: #141414;
    text-decoration: none;
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 217.8%;
}

row h4{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}
.ccc{
    margin-left: 3rem;
    width: 33%;
}

.created__name{
    width: 70%;
    margin: 150px auto 0;
}

.created__name p{
    text-align: center;
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 218.8%;
    color: #686868;
}
